@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,300");
//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

%reset-box {
	margin: 0;
	padding: 0;
}

@mixin box-sizing($box-model) {
	box-sizing: $box-model;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

*,
*::after,
*::before {
	@include box-sizing(inherit);
	@extend %reset-box;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

@import "partials/base";

@import "partials/animations";

@import "partials/images";

@import "partials/planets";

@import "partials/information-popups";

@import "partials/navigation";


